{{ $res_img := page.Resources.GetMatch (.Get "src") }}
{{ $url_path := absURL ""}}
{{ $relative_url := .Get "src" }}

{{ $url := ""}}

{{ if $res_img }}
  {{ $url = $res_img.RelPermalink }}
{{ else }}
  {{ $url = urls.JoinPath $url_path $relative_url }}
{{ end }}


<figure>
  <img
    src="{{ $url }}"
    alt="{{ .Get "title" }}"
    title="{{ .Get "title" }}"
  >
  {{ if .Get "legend" }}
    <figcaption>
      <p class="text-center">{{ .Get "legend" }}</p>
    </figcaption>
  {{ end }}
</figure>
